body {
  color: #000000;
}

form {
  position: relative;
  padding-left: 100px;
  display: grid;
  justify-self: center;
  border: 1px solid black;
}
.fname {
  position: absolute;
}
.lName {
  position: absolute;
  left: 400px;
  top: 100px;
}

h3 {
  padding: 0px 0px 0px 20px;
  font-family: "Lora", serif;
  font-weight: lighter;
}

.header {
  text-align: center;
}
a {
  color: #f19c33;
  text-decoration: none;
}
a:hover {
  color: #576a71;
  text-decoration: underline;
}
hr {
  border-color: #576a71;
  width: 450px;
}
