body {
  background-image: url();
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #f0eecd;
}
.form-container {
  display: flex;
  justify-content: center;
}
form {
  background-image: url(/extra-assets/retrorainbow_clipdrop-enhance.jpg);
  background-position: center;
  background-size: cover;
  width: 500px;
  justify-items: center;
  border: 1px solid #576a71;
  border-radius: 10px;

  box-shadow: 0 0 20px #584632;
}

h3 {
  padding: 0px 0px 0px 20px;
  font-family: "Lora", serif;
  font-weight: lighter;
}
.regContent {
  padding: 5px 0px 5px 90px;
}
.header {
  text-align: center;
}
a {
  color: #f19c33;
  text-decoration: none;
}
a:hover {
  color: #576a71;
  text-decoration: underline;
}
hr {
  border-color: #576a71;
  width: 450px;
}
