body {
  background: linear-gradient(135deg, #e19141, #45c3ca);
  color: aliceblue;
}

form {
  width: 500px;
  margin-left: 60%;
  border: 1px solid rgb(228, 205, 205);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
h2 {
  font-family: "Exo", sans-serif;
}
h3 {
  padding: 0px 0px 0px 20px;
  font-family: "Lora", serif;
  font-weight: lighter;
}
.regContent {
  padding: 5px 0px 5px 90px;
}
.header {
  text-align: center;
}
a {
  color: #877335;
  text-decoration: none;
}
a:hover {
  color: #576a71;
  text-decoration: underline;
}
hr {
  height: 2px;
  background-color: #877335;
  border-color: #576a71;
  width: 450px;
}
