body {
  background-color: rgb(237, 213, 181);
  color: black;
}
/* to align the contents */
.flex-container {
  display: grid;
  height: 615px;
  grid-template-columns: 250px 200px 250px;
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas:
    "sidebar header content"
    "sidebar timeline ads";
  grid-gap: 20px;
  justify-content: space-between;
}
p {
  padding-left: 10px;
}
.child-1 {
  position: relative;
}
.firstPic {
  position: relative;
  border: 1px solid black;
  border-radius: 100px;
  left: 10px;
}
.secondPic {
  position: absolute;
  left: 200px;
  border-radius: 100px;
  border: 1px solid rgb(249, 12, 170);
}
.at_Username {
  position: absolute;
  top: 90px;
  left: 15px;
}
.child-2 {
  position: fixed;
}
.profile-option {
  list-style: none;
  margin-left: -30px;
}
.profile-option li {
  padding-bottom: 10px;
}
.seeMore {
  text-align: center;
}
/* design for the navigation bar */
.navBar {
  border: none;
  justify-self: center;
  width: 500px;
  display: block;
  height: 50px;
  grid-area: header;
}
.navBar ul {
  margin-left: -25px;
  margin-top: -5px;
  text-align: center;
  list-style: none;
  border: none;
}
.navBar li {
  display: inline-block;
  padding: 20px;
}
/* for the content of the page */
.left-side-bar {
  position: relative;
  height: 613px;
  grid-area: sidebar;
}
.username_Profile {
  position: absolute;
  left: 100px;
  top: 50px;
}
.right-side-bar {
  height: 400px;
  grid-area: content;
  position: relative;
}
.friends {
  position: absolute;
}
table {
  width: 220px;
  border: 1px solid black;
}
.userName {
  margin-top: 10px;
}
span {
  position: absolute;
  left: 60px;
}
.username_At {
  color: blue;
  font-size: 10px;
  position: relative;
  left: 5px;
  top: -10px;
}
.homepage {
  max-height: 550px;
  width: 800px;
  margin-left: -300px;
  margin-top: -250px;
  grid-area: timeline;
  overflow-y: auto;
}
.ads {
  margin-top: 400px;
  position: absolute;
  height: 100px;
  width: 250px;
  text-align: center;
  font-size: 50px;
}
