body {
  background-color: rgb(237, 213, 181);
  color: black;
}
/* to align the contents */
.flex-container {
  display: grid;
  height: 615px;
  grid-template-columns: 250px 200px 250px;
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas:
    "sidebar header content"
    "sidebar timeline ads";
  grid-gap: 20px;
  justify-content: space-between;
}
p {
  padding-left: 10px;
}
.child-1 {
  position: relative;
}
.firstPic {
  position: relative;
  border: 1px solid black;
  border-radius: 100px;
  left: 10px;
}
.secondPic {
  position: absolute;
  left: 200px;
  border-radius: 100px;
  border: 1px solid rgb(249, 12, 170);
}
.at_Username {
  color: blue;
  position: absolute;
  top: 90px;
  left: 15px;
}
.child-2 {
  position: absolute;
}
.profile-option {
  list-style: none;
  margin-left: -30px;
}
.profile-option li {
  padding-bottom: 10px;
}
.seeMore {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}
/* design for the navigation bar */
.navBar {
  border: 1px solid black;
  border-radius: 10px;
  justify-self: center;
  width: 800px;
  height: 50px;
  grid-area: header;
}
.icon-tab {
  width: 35px;
}
.navBar ul {
  margin-left: -190px;
  margin-top: 0px;
  text-align: center;
  list-style: none;
  border: none;
}
.navBar li {
  display: inline-block;
  padding-left: 150px;
  padding-top: 10px;
}
/* for the content of the page */
.left-side-bar {
  position: relative;
  height: 613px;
  grid-area: sidebar;
}
.username_Profile {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 100px;
  top: 50px;
}
.right-side-bar {
  height: 400px;
  grid-area: content;
  position: relative;
}
.friends {
  position: absolute;
}
table {
  width: 220px;
  border: 1px solid black;
}
.userName {
  margin-top: 10px;
}
span {
  position: absolute;
  left: 60px;
}
.username_At {
  color: blue;
  font-size: 10px;
  position: relative;
  left: 5px;
  top: -10px;
}
.homepage {
  height: fit-content;
  width: 800px;
  margin-left: -300px;
  margin-top: -250px;
  grid-area: timeline;
  overflow: hidden;
}
.ads {
  top: 600px;
  position: absolute;
  height: 100px;
  width: 250px;
  text-align: center;
  font-size: 50px;
}
/* for the timeline */
.parent-2 {
  position: relative;
  flex: 1 0 20px;
  width: 800px;
  height: fit-content;
  box-shadow: 0 0 15px gray;
  border-radius: 10px;
}
#profilePic {
  margin-left: -10px;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100px;
}
.username-in-timeline {
  position: relative;
  left: 20px;
}
.username_At {
  margin-left: -10px;
  font-size: 10px;
  color: blue;
}
.align-username {
  position: absolute;
  left: 55px;
  top: 10px;
}
.ellipsis {
  width: 20px;
  position: absolute;
  left: 650px;
}
.just-username {
  position: absolute;
  left: 0px;
}
.align-username .username_At {
  position: absolute;
  top: 20px;
  left: 0px;
}
.hours {
  font-weight: bolder;
  position: absolute;
  left: 960px;
}
.extra-button {
  display: flex;
  list-style: none;
  gap: 200px;
}
.reactions {
  width: 20px;
  height: 20px;
}
.post-picture {
  border-radius: 5px;
  border: 1px solid black;
}
/* for the friends side */
.profile-newsfeed {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.friends {
  padding: 10px;
}
hr {
  background-color: black;
  height: 1px;
}
a {
  text-decoration: none;
  color: black;
}
