body {
  background-color: #f0eecd;
}
.flex-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/* parent 1 */
.parent-1 {
  width: 20%;
  height: 635px;
  position: relative;
}
.child-1 {
  position: absolute;
}
#header {
  width: 260px;
  border-radius: 5px;
}
.child-2 {
  position: absolute;
  top: 120px;
  left: 10px;
}

#profilePic-1 {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 5px solid #f0eecd;
}

.child-3 {
  position: absolute;
  top: 120px;
  left: 10px;
  display: grid;
  height: 250px;
  grid-gap: 20px;
  justify-content: space-between;
  grid-template-columns: 100px 100px;
  grid-template-areas:
    "username username"
    "following followers"
    "bio bio" "status status"
    "joined joined"
    "birthdate birthdate";
}
.username {
  position: absolute;
  top: 50px;
  left: 110px;
  font-size: 25px;
  font-weight: bold;
}
.at_username {
  color: blue;
  grid-area: username;
}
.following,
.followers {
  width: 200px;
}
b {
  font-size: 17px;
  text-decoration: underline;
}
.bio {
  grid-area: bio;
}
.status {
  grid-area: status;
}

.joined {
  grid-area: joined;
}
.birthdate {
  grid-area: birthdate;
}
/* parent 2 */
.parent-2 {
  position: relative;
  flex: 1 0 20px;
  width: 800px;
  height: fit-content;
  box-shadow: 0 0 15px gray;
  border-radius: 10px;
}

.timeline-navBar {
  border-radius: 5px;
  width: 800px;
  height: 30px;
  padding: 10px;
  font-size: 25px;
  transition: transform 200ms;
}
/* for the hover animation */
.timeline-navBar:hover {
  transform: scale(1.1);
}
.timeline-rows {
  padding-left: 15px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}
#profilePic {
  margin-left: -10px;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100px;
}
.username-in-timeline {
  position: relative;
  left: 20px;
}
.username_At {
  margin-left: -10px;
  font-size: 10px;
  color: blue;
}
.align-username {
  position: absolute;
  left: 50px;
  top: 10px;
}
.fa-ellipsis {
  width: 20px;
  position: relative;
  left: 560px;
}
.align-username .username_At {
  position: absolute;
  top: 20px;
  left: 10px;
}
.hours {
  font-weight: bolder;
  position: absolute;
  left: 950px;
}
.extra-button {
  display: flex;
  list-style: none;
  gap: 200px;
}
.post-picture {
  border-radius: 5px;
  border: 1px solid black;
}
.right-side-bar {
  display: grid;
  grid-template-columns: 250px;
}
/* parent 3 */
.parent-3 {
  height: 450px;
  display: flex;
  padding-top: 10px;
  align-items: flex-start;
  justify-content: center;
}

form {
  display: flex;
}
.fa-magnifying-glass {
  align-self: center;
  color: orange;
}
form input {
  width: 200px;
  border: 1px solid orange;
  outline: none;
  border-radius: 10px;
}
.fa-gear {
  padding-left: 10px;
}
.trend-header {
  width: 250px;
  height: 100px;
  border-radius: 5px;
  margin-top: 5px;
}
.trends {
  padding: 5px;
  text-align: start;
  border-bottom: 1px solid black;
  border-radius: 50px;
}
.trends-for-you {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.more-trend {
  position: relative;
  left: 78px;
  border: 1px solid black;
  text-align: center;
  width: 100px;
  border-radius: 5px;
}
/* parent 4 */
.parent-4 {
  box-shadow: 4px 10px 10px grey;
  margin-top: -350px;
  height: 300px;
}
.parent-4 p {
  text-align: center;
  font-size: 5em;
}
